.button {
    height: 46px;
    width: 70%;
    margin-top: 64px;
    font-weight: 500;
    border-radius: 8px;
    color: #fff;
    background: #2d9c4e;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: filter 0.2s;
    cursor: pointer;
    border: 0;
    // margin: 20px;


    // isso pode ser removido pois nao terei botao desabilitado
    &:not(:disabled):hover {
        filter: brightness(0.9);
    }
    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}
// .iconButton {
//     margin: 5px;
//     display: flex;
// }

.buttonAdicionarCultura {
    display: flex;
    align-items: center;
    justify-content: center;
}
