.container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin-bottom: 0.5rem;

  color: white;

  border-radius: 80px;
}

// .container:active {
//   background: red;
// }
