.grafico {
  // height: 100%;
  // width: 100%;
  background-color: #FDE8CD;
  // border-radius: 10px;

  display: flex;
  // // justify-content: space-between;
  // background: #F7ECDE;
  // padding: 2rem;
  border-radius: 10px;
  // justify-content: center;
  // align-items: center;

  // display: grid;
  margin-top: 1rem;
}
